body{
    background-image:url(./login\ background.jpg) ;
    background-repeat: repeat;
    background-size: contain;
    text-align: center;
    background-size: cover;
}

.container{
    display: block;
    margin-top: 10px;
    width: 100vw;
    height: 50%;
}

.card{

    background-color: rgb(210, 192, 177);
}

